---
import { ModeToggle } from "@/components/utils/mode-toggle";
import DarkMode from "@/components/utils/dark-mode.astro";
import "@/styles/global.css";
---

<DarkMode />

<html lang="en">
  <head>
    <meta charset="utf8" />
    <meta content="width=device-width" name="viewport" />
    <link type="image/svg+xml" href="/favicon.svg" rel="icon" />
    <meta content={Astro.generator} name="generator" />
    <title>DevToy</title>
  </head>
  <body>
    <slot />
    <ModeToggle className="fixed top-3 right-3" client:load />
  </body>
</html>
